# Tuplas

Son como listas, pero inmutables, por lo que no se puede modificar una vez es creado.

In [ ]:
tupla = (1,2,3,"cuatro",5.0)
print(tupla)
type(tupla)

(1, 2, 3, 'cuatro', 5.0)

tuple

In [ ]:
tupla[0]=10
print(tupla)

TypeError: 'tuple' object does not support item assignment

# DICCIONARIOS

Permiten almaacenar pares clave-valor, donde cada clave está asociada a un valor, permitiendo acceder a los vqalores a través de las claves.

**Sintaxis**

In [ ]:
diccionario = {"clave1":"valor1","clave2":2,"clave3":[123]}
print(diccionario)
type(diccionario)

{'clave1': 'valor1', 'clave2': 2, 'clave3': [123]}

dict

**Ejemplo 1. Creación de un diccionario**

In [ ]:
datos_personales = {
    'nombre':'Miguel',
    'edad':15,
    'ocupación':'Coordinador'
}

print(datos_personales)

{'nombre': 'Miguel', 'edad': 15, 'ocupación': 'Coordinador'}

**Acceder a un valor usando la clave**

In [ ]:
print(diccionario["clave1"]) # debe mostrar valor 1

valor1

In [ ]:
print(datos_personales["edad"]) # debe mostrar la edad

15

Ejemplo 2. Acceder a datos del usuario

In [ ]:
datos_personales = {
    'nombre':'Angel',
    'edad':25,
    'ocupación':'Docente'
}

print(datos_personales)

{'nombre': 'Angel', 'edad': 25, 'ocupación': 'Docente'}

In [ ]:
clave = input("Ingrese la clave a Buscar: ") # se solicta el ingreso
# de la clave por teclado y se almacena en la variable clave

valor = datos_personales.get(clave, 'La clave no hace parte del diccionario')

# Busca la clave en el diccionario, si esta existe muestra el valor de lo contrario,
# muestra el mensaje 'La clave no hace parte del diccionario'

print("El valor de la clave buscada " + clave + " es: " + str(valor))
print(f"El valor de la clave buscada {clave} es: {valor}")

Ingrese la clave a Buscar: edad
El valor de la clave buscada edad es: 25
El valor de la clave buscada edad es: 25

**Agregar un elemento a un diccionario**

Se puede agregar un nuevo par clave-valor a un diccionario asignando un valor a una nueva clave

Ejemplo 2. Agregar un nuevo elemento al diccionario.

In [ ]:
diccionario = {"a":1, "b": 2}
diccionario["c"] = 3
print(diccionario)

{'a': 1, 'b': 2, 'c': 3}

**Eliminar un elemento de un diccionario**

Se puede eliminar un elemento específico utilizando del o el método .pop() También se pueden eliminar todos los elmentos con método .clear().

In [ ]:
datos_empresariales = {
    'razonSocial':'Tech AD S.A.S.',
    'nit':'11111',
    'direccion': 'Cr 1 # Cl 1 - 1',
    'telefono':'3002003020'
}
print(datos_empresariales)

del datos_empresariales['nit']

direccion = datos_empresariales.pop('direccion')

print(datos_empresariales)
print(direccion)

{'razonSocial': 'Tech AD S.A.S.', 'nit': '11111', 'direccion': 'Cr 1 # Cl 1 - 1', 'telefono': '3002003020'}
{'razonSocial': 'Tech AD S.A.S.', 'telefono': '3002003020'}
Cr 1 # Cl 1 - 1

**Mezclar diccionarios**

Se puede combinar o mezclar diccionarios utilizando el método .update(). Este método actualiza un diccionario con los pares clave-valor de otro diccionario.

In [ ]:
datos_animales = {
    'nombre_animal':'tigre',
    'especie':'felino',
    'habitad':'selva',
    'tamano':'mediano'
}

datos_adicionales = {'color':'naranja', 'agresividad':'alta'}
datos_animales.update(datos_adicionales)

print(datos_animales)

{'nombre_animal': 'tigre', 'especie': 'felino', 'habitad': 'selva', 'tamano': 'mediano', 'color': 'naranja', 'agresividad': 'alta'}

# Set (Conjuntos)
Un set en Python es una colección desordenada y sin elementos duplicados. Son útilices cuando se requiere asegurar que una colección de elementos no tena repeticiones, o cuendo se necesita hacer operaciones matemáticas como intersecciones o uniones.

**Crear un set**

Para crear un set en Python, se usan las llaves {} o la función set().

**Ejemplo 1. Crear un set vacío**

In [ ]:
conjunto = set() # Crea un set vacío
print(conjunto)
type(conjunto)

set()

set

**Ejemplo 2. Crear un set con valores**

Si se quiere crear un set con algunos elementos inciales, se ponen dentro de las {} y se separan por comas.

In [ ]:
conjunto = {1,2,3,4}
print(conjunto)
conjunto2 = set({5,6,7,8})
print(conjunto2)

{1, 2, 3, 4}
{8, 5, 6, 7}

**Caracteristicas principales:**

- No permite elementos duplicados, por lo que si se agrega el mismo elemento dos veces solo lo guardara una vez.

- Los elementos no tienen un orden específico, por lo que no se puede acceder a los elementos por su posición como se haria en una lista.

- Se pueden hacer operaciones de conjuntos como unión, intersección, diferencia, etc.

**Ejemplo 3. Varificación de la característica de que los set no permiten elementos duplicados**

In [ ]:
conjunto = {1,2,2,3,4,1}
print(conjunto)

{1, 2, 3, 4}

**Operaciones básicas con sets:**

In [ ]:
conjunto = {5, 3, 14}
conjunto.add(7)
print(conjunto)

{3, 5, 14, 7}

**Unión de sets**
La unión de dos sets combina todos los elementos de ambos sets, eliminando los elementos duplacados.

Ejemplo 5. Unión de dos o más sets

In [ ]:
set1 = {1,2,3,10,15}
set2 = {3,4,5,23}
set3 = {7,"b", "c","d"}
union_set = set1 | set2 | set3 #Unión de los sets
print(union_set)

{1, 2, 3, 4, 5, 'c', 7, 10, 15, 23, 'd', 'b'}

**Intersección de sets**

La intersección de sets devuelve solo los elementos que están en ambos sets.

Ejemplo 6. Intersección de dos o más sets.

In [ ]:
set1 = {1,2,3,10, 7,15}
set2 = {3,4,5,23, 7}
set3 = {7, "b", "c", "d", 3}
interseccion = set1 & set2 & set3 # Intersección de los sets
print(interseccion)

{3, 7}