# Carga de Datos en Python

**Introducción**

En este notebook, exploraremos difentes formas de cargar datos en python utilizando varias bibliotecas polulares. Cubriremos:

1. Carga de datos desde archivos CSV
2. Carga de datos desde archivo Excel
3. Carga de datos desde archivos JSON

#1. Carga de datos desde archivos CSV

El formato CSV (Comma Separated Values) es uno de los formatos más comunes para almacenar datos tabulares. Utilizaremos la bibloteca pandas para cargar datos desde un archivo CSV

In [ ]:
## Con este procedimiento habilitares el Drive para carga de archivos
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importamos la biblioteca pandas
import pandas as pd

# Cargamos el archivo CSV
data_csv = pd.read_csv('sample_data/california_housing_test.csv')

# Mostramos las primeras filas del DataFrame
print(data_csv.head(10))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0
5    -119.56     36.51                37.0       1018.0           213.0
6    -121.43     38.63                43.0       1009.0           225.0
7    -120.65     35.48                19.0       2310.0           471.0
8    -122.84     38.40                15.0       3080.0           617.0
9    -118.02     34.08                31.0       2402.0           632.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
5       663.0       204.0         1.6635             67000.0
6       604.0       218.0         1.6641             67000.0
7      1341.0       441.0         3.2250            166900.0
8      1446.0       599.0         3.6696            194400.0
9      2830.0       603.0         2.3333            164200.0

In [ ]:
type(data_csv)

pandas.core.frame.DataFrame

In [ ]:
## Filas y columnas de nuestro dataframe
data_csv.shape

(3000, 9)

#2. Carga de datos desde archivos Excel

Los archivos Excel son muy populares para almacenar y compartir datos. Utilizaremos pandas para cargar datos desde un archivo Excel.

In [ ]:
# Cargamos el archivo Excel
data_excel = pd.read_excel('/content/drive/MyDrive/2025/G193 Análisis de Datos Explorador/Data/Afluencia_2023.xlsx')

# Mostramos las primeras filas del DataFrame
print(data_excel) # Sale normal
data_excel # Sale como tabla

,Día,Línea de Servicio,Hora de operación,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaT,NaN,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,09:00:00,10:00:00,11:00:00,...,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00,Total general (Número de pasajeros)
1,2023-01-01,LÍNEA 1,192,811,896,716,673,922,1023,1208,...,1629,1985,2361,2694,2303,1839,1478,236,NaN,25483
2,2023-01-01,LÍNEA 2,11,123,116,95,102,144,147,189,...,191,255,280,317,252,164,111,7,NaN,3210
3,2023-01-01,LÍNEA A,1328,5104,5701,4309,4054,4852,5880,7629,...,10999,13027,15965,19123,15663,12918,9509,819,NaN,166047
4,2023-01-01,LÍNEA B,221,701,750,655,628,863,1085,1228,...,1930,2247,2498,2648,2029,1472,1087,151,NaN,25106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2146,2023-06-30,LÍNEA L,NaN,NaN,NaN,NaN,NaN,287,504,337,...,304,367,403,NaN,NaN,NaN,NaN,NaN,NaN,3142
2147,2023-06-30,LÍNEA M,364,855,902,662,444,303,284,330,...,429,636,852,840,1003,581,417,343,77,10077
2148,2023-06-30,LÍNEA O,217,928,1314,1155,780,591,564,547,...,737,920,1089,842,676,516,525,275,29,13470
2149,2023-06-30,LÍNEA P,1308,3121,3036,2143,1339,1088,856,941,...,944,974,843,664,519,663,369,165,1,21646
2150,2023-06-30,LÍNEA T-A,1285,3371,4344,3730,2767,2232,2120,2295,...,2651,3814,4718,4000,3429,2482,1857,1471,102,51326

# 3. Carga de datos desde archivos JSON

El formato JSON (JavaSript Object Notation) es muy utilizado para intercambiar datos entre servidores y aplicaciones web. Utilizaremos pandas para cargar datos desde archivo JSON.

In [ ]:
# Importarmos la biblioteca pandas
import pandas as pd

# Cargamos el archivo JSON
data_json = pd.read_json('/content/sample_data/anscombe.json')

# Mostramos las primeras filas del DataFrame
print(data_json)

data_json # Muestra un estilo de tabla

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89