# LIMPIEZA DE DATOS CON PYTHON Y PANDAS


# 1. El problema del negocio

Una entidad bancaria contrata a una empresa de marketing encargada de cntactar telefónicamente a posibles clientes para determinar si están interesados o no en adquirir un certificado de depósito atérmino con el banco.
¿Qué perfil tienen los clientes con mayor potentical de conversión?

# 2. Recopilar los datos (el set de datos)

La informacion recolectada por la empresa de mercadeo se encuentra en un archivo CSV (dataset_banco1.csv) con 45215 filas y 17 columnas.

Cada registro contiene 16 características (Las primeras 16 columnas) y una categoría ("yes" "no" dependeniendo de si la persona está o no interesada en adquirir el producto). Las columnas son:

1. "age": edad (numérica).
2. "job": tipo de trabajo(Categórica: "admin","unknown","student","management" ...)
3. "marital": estado civil (categórica:"married","divorced","single")
4. "education": nivel educativo.
5- "defaul": si dejó de pagar sus obligaciones ("yes" o "no")
6. balance": saldo promedio anual en euros (numérica)
7. "housing" ¿tiene o no crédito hipotecario? ("yes" o "no")
8. "loan": ¿tiene crédito de consumo?
9. "contact": medio a través del cual fue contactado
10. "day": último día del  mes en el que fue contactada
11. "month": último mes en el que fue contactada
12. "duration": duración (en segundos) del último contacto (numérica)
13. "campaing": Número total de veces que fue contactada durante la campaña
14. "pdays": Número de días trasncurridos después de haber sido contactado antes de la campaña actual
15. "previous": Número de veces que ha sido contactada antes de esta campaña
16. "poutcome": Resultado de la campaña de marketing anterior
17. "y": Categoria ¿El cliente se suscribió a un dopótio a término? ("yes" o "no")

# 3. Una primera mirada al dataset

Dataset: Conjunto de datos

In [ ]:
# Importar librerías
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Lectura
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

ruta = '/content/drive/MyDrive/2025/G193 Análisis de Datos Explorador/Data/dataset_banco1.csv'
data = pd.read_csv(ruta)

Mounted at /content/drive

In [ ]:
print(data.shape) # Con esto nos muestra las filas y columnas del dataframe

(45215, 17)

In [ ]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [ ]:
# Veamos las variables categóricas y las numéricas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

# 4. Limpieza

Realizaremos el proceso de limpieza teniendo en cuentra las situaciones más comunes:

1. Datos faltantes en algunas celdas.
2. Columnas irrelevantes (que no responden al problema que queremos resolver).
3. Registros (filas) repetidas.
4. Valores extremos (outliers) en el caso de las variables numpericas se deben analizar en datalle pues no necesariamente la solución es eliminarlos.
5. Errores tipográficos en el caso de las variables categóricas.

Al final de este proceso de limpieza deberíamos tener un set de datos **íntegro**, listo para la fase de Análisis Exploratorio.

# 4.1. Datos faltantes

Acá comenzamos a ver que los datos no están completos, pues no todas las columnas tienen la misma cantidad de registros.

El número total de registros debería ser 45.215. Sin embargo columnas como "job","marital","education","balance","duration" y "pdays".

Por ser tan pocos los datos faltantes optaremos por eliminar las filas correspondients.

In [ ]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45207 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45207 non-null  int64
 1   job        45207 non-null  object
 2   marital    45207 non-null  object
 3   education  45207 non-null  object
 4   default    45207 non-null  object
 5   balance    45207 non-null  float64
 6   housing    45207 non-null  object
 7   loan       45207 non-null  object
 8   contact    45207 non-null  object
 9   day        45207 non-null  int64
 10  month      45207 non-null  object
 11  duration   45207 non-null  float64
 12  campaign   45207 non-null  int64
 13  pdays      45207 non-null  float64
 14  previous   45207 non-null  int64
 15  poutcome   45207 non-null  object
 16  y          45207 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 6.2+ MB

# 4.2 Columnas irrelevantes

Una columna irrelevante puede ser:

*   Una columna que no contiene información relevante para el problema que queremos resolver. Por ejemplo en este caso podría ser una columna que no guarde relación con el posible perfil del cliente (deporte favorito, hobbies, comida favorita, etc.)
*   Una columna categórica pero con un sólo nivel. Por ejemplo si en la columna "job" solo tuviésemos el nivel "unknown"
*   Una columna numérica pero con un sólo valor. Por ejemplo si en la columna "edad" todos los valores fuersen iguales a 50.
*   Columnas con información redundante. Por ejemplo si además de las columnas "month" y "day" tuviésemos la columna "month-day", resultado de combinar las dos anteriores.

Si tenemos la duda de si alguna columna puede ser relevante o no lo mejor es dejarla (y más adelante en posteriores etapas podremos darnos cuenta de si se debe preservar o no).

En este caso todas las columnas pueden resultar relevantes, pero debemos verific ar que no hayan columnas categóricas con un sólo nivel o columnas numércias con un sólo valor

In [ ]:
# Conteo de los niveles en las difretnes columnas categóricas
cols_cat = ['job','marital','education','default','housing','loan',
            'contact','month','poutcome','y']

for col in cols_cat:
  print(f'Columna {col}: {data[col].nunique()} subniveles')

Columna job: 18 subniveles
Columna marital: 6 subniveles
Columna education: 10 subniveles
Columna default: 2 subniveles
Columna housing: 2 subniveles
Columna loan: 6 subniveles
Columna contact: 5 subniveles
Columna month: 12 subniveles
Columna poutcome: 6 subniveles
Columna y: 2 subniveles

In [ ]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000,45207.000000
mean,41.005596,1374.201318,15.806534,258.032539,2.763731,40.178225,0.580198
std,12.037399,3924.491665,8.323015,257.460759,3.098058,100.103283,2.303341
min,18.000000,-8019.000000,1.000000,-1389.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1427.500000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,776.000000,527532.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

Todas las columnas numéricas tienen desviaciones estándar ("std") difernetes de cero, lo que indica que no tienen un único valor.

Preservaremos todas las columnas numéricar.

# 4.3 Filas repeticas